*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
}
.cuadrado-morado
{
    width:  100px;
    height: 100px;
    background-color: blue;
    margin: 10px;
    box-shadow: 10px black;
}
.cuadrado-relativo{
    width: 100px;
    height: 100px;
    background-color: black;
    position: relative;
    left: 150px;
    right: 150px;
    top: 150px;
    border: 5px solid rgb(112, 46, 46);
}
.cuadrado-absoluto {
    width: 100px;
    height: 100px;
    margin: 10px;
    background-color: blueviolet;
    position: absolute;
    left: 150px;
    top: 50px;
}
.cuadrado-con-borde {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin: 10px;
    border: 1px solid black;
}
.cuadrado-pegado {
    width: 100px;
    padding: 10px 20px;
    border-radius: 10px;
    background-color: blueviolet;
    position: fixed;
    bottom: 20px;
    right: 20px;
}